# =============================================================================
# CallSOS — Variables de entorno
# Copiar este archivo como .env y completar los valores antes de arrancar.
# NUNCA commitear el archivo .env — está en .gitignore.
# =============================================================================
# ── Base de datos ─────────────────────────────────────────────────────────────
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=

# ── Conexión Spring ───────────────────────────────────────────────────────────
SPRING_DATASOURCE_URL=jdbc:mysql://mysql_db:3306/callsos_bd?allowPublicKeyRetrieval=true&useSSL=false
#Nota: si no se usa docker, se reemplaza //mysql_db:3306/, por //localhost:3306/

SPRING_DATASOURCE_USERNAME=${DB_USER}
SPRING_DATASOURCE_PASSWORD=${DB_PASSWORD}

# ── JWT ── OBLIGATORIO ────────────────────────────────────────────────────────
# Generar con: openssl rand -base64 64
# Mínimo 32 caracteres. Si está vacío, el backend NO arrancará.
JWT_SECRET=
JWT_EXPIRATION_MS=86400000

# ── CORS ──────────────────────────────────────────────────────────────────────
# Dominio del frontend en producción (ej: https://callsos.tudominio.com)
CORS_ALLOWED_ORIGIN=http://localhost:3000

# ── Firebase ──────────────────────────────────────────────────────────────────
# Crear carpeta fuera del src con nombre firebase. Luego colocar el serviceAccountKey.json en esa carpeta (git no lo muestra por estar en .gitignore)
# Docker leerá el archivo como volumen, pero preguntará por la ruta en este archivo .env
FIREBASE_CREDENTIALS_PATH=/app/firebase/serviceAccountKey.json

# Para pruebas debe estar en false, pero para produccion y usar firebase, debe estar en true
FIREBASE_ENABLED=false

#Simulacion para pruebas con usuario
SIMULACION_HABILITADA=false
SIMULACION_VELOCIDAD=35
SIMULACION_INTERVALO_MS=2000
SIMULACION_OSRM_URL=https://router.project-osrm.org
SIMULACION_OSRM_TIMEOUT_MS=4000