# --- CONFIGURACIÓN DE BASE DE DATOS LOCAL ---
DB_ROOT_PASSWORD=poner_aqui_clave_root
DB_NAME=poner_aqui_nombre_bd
DB_USER=poner_aqui_usuario_app
DB_PASSWORD=poner_aqui_clave_usuario_app

# --- FUTURAS INTEGRACIONES ---
# MAPS_API_KEY=tu_clave_de_google_maps